# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.lock.hcl

# Build artefacts
.build/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.whl

# Virtual environments
.venv/
venv/
env/

# Type checking
.mypy_cache/

# Linting / formatting
.ruff_cache/

# Test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.hypothesis/

# IDE
.idea/
.vscode/
*.swp
*~
